.example-card {
  height: 37rem;
	margin-bottom: 15px;
}

.article {
	margin-top: 3rem;
}

.forwardBtn {
	position: absolute;
	bottom: 60px;
}

.mat-card-actions {
	position: absolute;
	bottom: 17px;
}

.mat-card-actions .editBtn {
	margin-right: 10px;
}