<form [formGroup]="searchForm" (ngSubmit)="onSubmitSearchForm()" class="search-form">
  <mat-form-field appearance="outline" class="search-input">
    <input matInput formControlName="searchString" placeholder="Enter search term...">
  </mat-form-field>

  <mat-form-field appearance="outline" class="date-input">
    <input matInput [matDatepicker]="picker1" formControlName="postDateFrom" placeholder="From Date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="date-input">
    <input matInput [matDatepicker]="picker2" formControlName="postDateTo" placeholder="To Date">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" class="search-button">
    Search
  </button>
</form>
