.users-actions {
	display: block;
	width: 20rem;
	text-align: center;
	background-color: #4f63d0;
	color: #FFF;
	padding-top: 17px;
	position: fixed;
	bottom: 7rem;
}


.users-actions button {
	font-weight: 500;
	font-size: 20px;
}