<div class="reply" *ngFor="let reply of replies; let i=index">
	<div class="reply-header">
		<div class="avatar" [style.background-image]="'url(' + reply?.replier?.imageUrl + ')'"></div>
		<div class="info">
			<div class="author">{{ reply?.replier?.name }}</div>
			<div class="username">&#64;{{ reply?.replier?.username }}</div>
		</div>
		<div class="timestamp">{{ reply?.createDateTime | createDate }}</div>
	</div>
  <div class="reply-body">{{ reply?.reply }}</div>
	<div *ngIf="isEditing && isSelectedIndex === i">
    <input matInput [(ngModel)]="replyText" style="border: 1px solid #000;" />
    <button mat-button color="primary" (click)="updateReply(reply.id)">
      Save
    </button>
    <button mat-button color="warn" (click)="cancelEdit()">Cancel</button>
  </div>

  <div class="actions" *ngIf="authUser.id === reply.replier.id">
    <button
      mat-button
      color="primary"
      class="action-button"
      (click)="toggleEdit(i, reply.reply)"
    >
      Edit
    </button>
    <button
      mat-button
      color="warn"
      class="action-button"
      (click)="deleteReply(reply.id)"
    >
      Delete
    </button>
  </div>
</div>
